h3 {
	color: white;
	border: 1px solid linear-gradient(to right, #7DC261, #87F05C);
	border-radius: 5px;
	margin-top: 2px;
	margin-left: 5px;
	padding-left: 15px;
	margin-right: 90%;
	font-family: sans-serif;
	font-size: 1.4em;
	text-align: left;
	line-height: 30px;
	background: linear-gradient(to right, #7DC261, #87F05C);
	height: 30px;
	width: 200px;
}

.nav {
	margin-top: -10px;
	background-color: rgb(240, 240, 240);
	height: 35px;
}

.breadcrumb {
	margin-left: 20px;
	margin-top: 6px;
	font-family: sans-serif;
	font-size: 0.9em;
	text-align: center;
}

.title_menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu {
	margin-right: 10px;
	width: 350px;
}
/*Balance*/
.customer_balance{
	margin-top:20px;
	margin-left: 37%;
	font-size: 1.2em;
}

.balance_amount{
	margin-top: -45px;
	margin-left: 2%;
	height:50px;
}

/*  Go to Transfer page */
.btn_goTransfer{
	margin-top: 25%;
	margin-left: 43%;
}
.button {
	border: 1px solid #006CFF;
	background-color: #006CFF;
	border-radius: 5px;
	color: black;
	padding: 10px 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}