.frame-header  {
    width: 100%;
    height : 100%;
	padding-bottom: 10px;
	border-radius: 5px;
	text-align: center;
	background: #FFFFFF;
}

.banner{
	display :flex;
	justify-content: flex-start;
}






