/*header */

h3 {
	color: white;
	border: 1px solid linear-gradient(to right, #7DC261, #87F05C);
	border-radius: 5px;
	margin-top : 2px;
	margin-left: 5px;
	padding-left : 15px;
	margin-right : 90%;
	font-family: sans-serif;
	font-size : 1.4em;
	text-align: left;
	line-height: 30px;
	background: linear-gradient(to right, #7DC261, #87F05C);
	height: 30px;
}

.nav{
	margin-top:-10px;
	background-color: rgb(240, 240, 240);
	height: 35px;
}

.breadcrumb{
	margin-left: 20px;
	margin-top: 6px;
	font-family: sans-serif;
	font-size : 0.9em;
	text-align: center;
}

.menu {
	margin-top : -35px;
	margin-right : 10px;
	margin-left:80%;
}

/*money frame */

.label_money {
	margin-top: 8%;
	margin-bottom: -2px;
	margin-right: 600px;
}

.btn_connection  {
	margin-left: 85%;	
	margin-top: -25px;
	
	padding-left:15px;
	padding-right: 15px;
	padding-top:5px;
	padding-bottom:5px;
	border : 1px solid #006CFF;
	background-color:  #006CFF;
	border-radius: 5px;
	
}

.money_frame1 {
	display :flex;
	flex-direction:column;
	margin-left : 300px;
	margin-right : 300px;
}

.money_frame2{
	background-color: rgb(240, 240, 240);
	height :100px;
	display: flex;
	flex-direction: column;
	
}

.select {
	margin : 2.5% 50% 0 15% ;
	justify-content: space-around;
	width:300px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.option{
	text-align: center;
}

input[type="number"] {
  width: 150px; 
  margin: -2.5% 50% 0 50% ;
  height:35px;
  text-align: right;
}
.btn_pay {
	border : 1px solid #7DC261;
	background-color:  #7DC261;
	border-radius: 5px;
	margin: -2.7% 30% 0 75% ;
	padding : 5px 70px 5px 50px;
	
}

/* transactions */

.pages{
	margin-top: -17px;
}
.table_transactions{
	
	
	width : 68%;
	margin-left:16%;
	margin-top: 0.7%;
	
}
.column{
	background-color: #7DC261;
	color: white;
}
th{
	
	height: 60px;
	
}
td{
	height: 50px;
}
.label_transaction{
margin-top:5%;
margin-left:16%;
	
}