<!doctype html>
<html lang="fr">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">

<link rel="stylesheet"
	href="/css/home_style.css"
	type="text/css">

<title>Pay My Buddy</title>
</head>

<body>
	<!--section -->
	<div class="frame">
		<form>

			<div class="titre">
				<h3>Pay My Buddy</h3>
			</div>
			<div class="input-group1">
				<span>
				<img src="/img/enveloppe.png"/>
				</span> 
				<input type="email" class="form-control" placeholder="Email" />
			</div>
			<div class="input-group2">
			<span>
				<img src="/img/asterisque.png"/>
				</span> 
				<input type="password" class="form-control-2" placeholder="Password" />
			</div>
			
			<div class="checkbox">
				<input type="checkbox" class="form-check-input"/>
				<label class="form-check-label" for="exampleCheck1">Remember
					me</label>
			</div>
			<div class="login">
				<button type="submit" class="btn-btn-primary">Login</button>
			</div>
		</form>
	</div>
</body>
</html>